.app {
  display: flex;
}

.app-sidemenu {
  height: 100vh;
  background: rgb(27, 33, 44);
  flex: 250px 0 0;
}
.app-body {
  background: rgb(33, 40, 53);
  flex: 1;
}
.app-content {
  padding: 0 10px;
}

img.rounded {
  border-radius: 50%;
}
img.logo {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  display: block;
  opacity: .8;
}