.app {
  display: flex;
}

.app-sidemenu {
  height: 100vh;
  background: rgb(27, 33, 44);
  flex: 250px 0 0;
}
.app-body {
  background: rgb(33, 40, 53);
  flex: 1;
}
.app-content {
  padding: 0 10px;
}

.sidemenu-parent {
  padding: 0 10px;
}

.sidemenu-parent li {
  color: rgb(106, 185, 135);
}

.sidemenu-parent li ion-icon {
  vertical-align: middle;
}

.sidemenu {
  padding: 10px 0px;
  list-style: none;
}

.sidemenu li {
  padding: 5px 30px;
  margin-bottom: 5px;
}

.sidemenu li:hover {
  background: rgb(37, 45, 69);
}

.sidemenu li ion-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.sidemenu li:first-child ion-icon {
  fill: rgb(230, 74, 25);
}

.sidemenu li:nth-child(2) ion-icon {
  fill: rgb(66, 165, 245);
}
.sidemenu li:nth-child(3) ion-icon {
  fill: rgb(150, 174, 96);
}
.sidemenu li:last-child ion-icon {
  fill: rgb(106, 158, 180);
}

.tab-bar {
  width: 100%;
  background: rgb(27, 33, 44);
}

.tab-bar .tab {
  padding: 8px 10px;
  background: rgb(33, 40, 53);
  display: inline-block;
  color: #eee;

}