.app {
  display: flex;
}

.app-sidemenu {
  height: 100vh;
  background: rgb(27, 33, 44);
  flex: 250px 0 0;
}
.app-body {
  background: rgb(33, 40, 53);
  flex: 1;
}
.app-content {
  padding: 0 10px;
}
.resume--iframe {
  width: 700px;
  height: 900px;
  border: 0;
  margin-top: 20px;
}

img.rounded {
  border-radius: 50%;
}
img.logo {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  display: block;
  opacity: .8;
}

@media only screen and (max-width: 900px) {
  .resume--iframe {
    width: 550px;
  }
}

@media only screen and (max-width: 750px) {
  .app {
    display: block;
    min-height: 100vh;
    background: rgb(33, 40, 53);
  }
  .app-sidemenu {
    height: auto;
    background: rgb(27, 33, 44);
  }
  .app-body {
    background: rgb(33, 40, 53);
  }
  .resume--iframe {
    width: 400px;
  }
}