html {
  margin: 0;
  padding: 0;
  top: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

.white {
  color: #ddd;
}

a {
  color: #ddd;
  text-decoration: none;
}

pre {
  counter-reset: line;
  color: rgb(112, 244, 156);
}

pre code {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 5px;
  font-size: 16px;
}

pre code:before {
  position: absolute;
  counter-increment: line;
  content: counter(line);
  left: 0;
  top: 0;
  color: #999;
}

pre a {
  color: rgb(229, 102, 116);
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}
